.section-title {
  border-left: 5px solid var(--brand-gold);
  padding-left: 10px;
  margin-bottom: 1rem;
  font-weight: 600;
}

.object-cover {
  object-fit: cover;
}

@media (max-width: 576px) {
  .section-title {
    font-size: 1rem;
  }
  form {
    padding: 1rem !important;
  }
}
